<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    ...
</head>
<body>

<div th:fragment="header_admin">
    <!--header-->
    <div class="w3l-top-header">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <a class="navbar-brand" href="/">
                        <span class="fa fa-pie-chart"></span> Pizza pan
                    </a>
                    <!-- if logo is image enable this
                  <a class="navbar-brand" href="#/">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                  </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item @@index-active">
                                <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item @@about-active">
                                <a class="nav-link effect-3" href="/admin/add_food">Add Food</a>
                            </li>
                            <li class="nav-item @@services-active">
                                <a class="nav-link effect-3" href="/admin/orders">Orders</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/admin/customers">Customers</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/admin/agents">Delivery Agents</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/logout">Logout</a>
                            </li>

                        </ul>
                        <div class="popup">
                            <a href="#domain" class="domain" data-toggle="modal" data-target="#DomainModal">
                                <div class="hamburger1">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!--/header-->

</div>

<div th:fragment="header_customer">
    <!--header-->
    <div class="w3l-top-header">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <a class="navbar-brand" href="/">
                        <span class="fa fa-pie-chart"></span> Pizza pan
                    </a>
                    <!-- if logo is image enable this
                  <a class="navbar-brand" href="#/">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                  </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item @@index-active">
                                <a class="nav-link" href="/customer">Home <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item @@services-active">
                                <a class="nav-link effect-3" href="/customer/orders">My Orders</a>
                            </li>
                            <li class="nav-item @@services-active">
                                <a class="nav-link effect-3" href="/customer/wallet">My Wallet</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/logout">Logout</a>
                            </li>

                        </ul>
                        <div class="popup">
                            <a href="#domain" class="domain" data-toggle="modal" data-target="#DomainModal">
                                <div class="hamburger1">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!--/header-->

</div>

<div th:fragment="header_agent">
    <!--header-->
    <div class="w3l-top-header">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <a class="navbar-brand" href="/">
                        <span class="fa fa-pie-chart"></span> Pizza pan
                    </a>
                    <!-- if logo is image enable this
                  <a class="navbar-brand" href="#/">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                  </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item @@index-active">
                                <a class="nav-link" href="/delivery_agent">Home <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item @@services-active">
                                <a class="nav-link effect-3" href="/delivery_agent/orders">Pickup Orders</a>
                            </li>

                            <li class="nav-item @@services-active">
                                <a class="nav-link effect-3" href="/delivery_agent/deliveries">My Deliveries</a>
                            </li>
                            <li class="nav-item @@services-active">
                                <a class="nav-link effect-3" href="/delivery_agent/wallet">My Wallet</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/logout">Logout</a>
                            </li>

                        </ul>
                        <div class="popup">
                            <a href="#domain" class="domain" data-toggle="modal" data-target="#DomainModal">
                                <div class="hamburger1">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!--/header-->

</div>

<div th:fragment="header">
    <!--header-->
    <div class="w3l-top-header">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <a class="navbar-brand" href="/">
                        <span class="fa fa-pie-chart"></span> Pizza pan
                    </a>
                    <!-- if logo is image enable this
                  <a class="navbar-brand" href="#/">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                  </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item @@index-active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item @@about-active">
                                <a class="nav-link effect-3" href="/about">About</a>
                            </li>
                            <li class="nav-item @@services-active">
                                <a class="nav-link effect-3" href="/services">Menu</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/login">Sign In</a>
                            </li>
                            <li class="nav-item @@contact-active">
                                <a class="nav-link effect-3" href="/register">Sign Up</a>
                            </li>
                            <li class="px-4 fill-none">
                                <a href="#url" class="btn btn-style btn-secondary">Online Order</a>
                            </li>
                        </ul>
                        <div class="popup">
                            <a href="#domain" class="domain" data-toggle="modal" data-target="#DomainModal">
                                <div class="hamburger1">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!--/header-->

</div>

</body>
</html>